<% if @houses.empty? %>
  <p>There are no houses available.</p>
<% else %>
  <% @houses.each do |house| %>
    <h2><%= house.name %></h2>
    <p>
      There are <%= house.students.count %>
      students in this house.
    </p>
    <p>
      The students of this house have accumulated
      <%= house.points %> points.
    </p>
    <p>
      Learn more about <%= link_to "house #{house.name}", house %>.
    </p>
  <% end %>
<% end %>