<h2>All Hogwarts Students</h2>

<% if @students.empty? %>
  <p>There are no students in the school.</p>
<% else %>
  <ul>
    <!-- N+1 Problem -->
    <% @students.each do |student| %>
      <li>
        <%= link_to student.name, student %>
        of house <%= link_to student.house.name, student.house %>
      </li>
    <% end %>
  </ul>
<% end %>